.title-animation {
  position: relative;
  display: flex;
  flex-direction: column;
  display: inline-block;
  
  .title-animation__line {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 1.4rem;
    margin-top: -1.4rem;
  }
  
  .title-animation__letter {
    display: inline-block;
    line-height: 1;
    transform: translateY(15rem);      
    will-change: transform;

    .active & {
      transform: translateY(0);
    }
  }
}
